body {
	margin: 0;
	padding: 0; 
}
#Header {
	position: fixed;
	background: #EEBF02;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #3c3c3c;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	top: 0px;
}
#upload-div {
	position: fixed;
	right: 0px;
	top: 0px;
	margin: 0px 10px 0px 0px;
}
#queue {
	position: fixed;
	margin: 7px 0px 0px -150px;
	opacity: 0.7
}
#upload form input[type="file"] {
	width: 70px;
} 
#upload form input[type="submit"] {
	width: 65px;
}
#Reaky-Gallery {
	width: 848px;
	height: 100%;
	margin: 10px auto 0px auto;
}
#Reaky-Gallery img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	float: left;
	border: 0;
	margin: 0 6px 12px 6px;
	line-height: 0;
}

#loadmore {
	display: none;
	width: 0;
	height: 0;
}
.highlight {
	background-color: #f8f8f8
}

.video {
	width: 100%%;
	margin: 0 0 24px 0;
}
.video__container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}
.video__container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-desc {
	width: 100%;
	max-width: 740px;
	margin: 12px auto;
}
#Tooltip {
	position: fixed;
	right: 10px;
	opacity: 0;
}
